/* GENERAL */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.15;
    font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
}

body {
    background-color: #472d30;
}

a {
    text-decoration: none;
    color: white;
}

p {
    color: white;
}

/* HEADER */

.header {
    display: grid;
    place-content: center;
    grid-template-rows: 4fr 1fr;
    background-color: #723d46;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}

.header__section-1 {
    grid-row: 1 / 2;
    display: grid;
    place-content: center;
}

.header__section-2 {
    grid-row: 2 / 3;
    display: grid;
    place-content: center;
}

.header__title {
    cursor: default;
    font-size: 6em;
    color: white;
    padding-top: 5px;
}

/* MAIN */

.container {
    display: grid;
    place-items: center;
    grid-gap: 2em;
    padding: 3em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container__section {
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
}

.container__section::after {
    display: grid;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: 0.75em;
    font-weight: bold;
}

.g-s1::after { content: 'Dr. Stone'; }
.g-s2::after { content: 'Sword Art Online'; }
.g-s3::after { content: 'Attack on Titan'; }
.g-s4::after { content: 'Death Note'; }
.g-s5::after { content: 'Anohana'; }
.g-s6::after { content: 'Psycho Pass'; }
.g-s7::after { content: 'My Hero Academia'; }
.g-s8::after { content: 'Dororo'; }
.g-s9::after { content: 'Food Wars'; }
.g-s10::after { content: 'Tokyo Ghoul'; }
.g-s11::after { content: 'Space Dandy'; }
.g-s12::after { content: 'Pet'; }

.container__section__border {
    position: relative;
    width: 240px;
    height: 360px;
    box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.75);
    background-color: #ffe1a8;
    padding: 0.7em;
    border: 8px #e26d5c solid;
}

.container__section__painting {
    position: absolute;
    width: 90%;
    height: 94%;
    border: 2px white solid;
    cursor: pointer;
    transition: all 500ms;
}
.container__section__painting:hover {
    transform: translateY(-30px);
}

/* FOOTER */

.footer {
    display: grid;
    min-height: 65px;
    padding-right: 20px;
    justify-content: end;
    align-content: center;
    background-color: #723d46;
    box-shadow: 0px -5px 5px rgba(0,0,0,0.5);
}

.footer__links {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    font-size: 15px;
}
.footer__links a:hover {
    color: #ffe1a8;
}
